.feedback_inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form_block {
	flex-basis: 50%;
	padding: 70px 77px 65px 0;
	background-color: #f5f5f5;
}

.form_block form {
	margin-left: auto;
	max-width: 320px;
}

.feedback_contacts {
	flex-basis: 50%;
	background-color: #fff;
	padding: 100px 0 50px 160px;
	line-height: 22px;
	font-size: 17px;
}

.feedback_header,
.call_window_header,
.consultation_window_header {
	font-weight: bold;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 20px;
}

.form_block input,
#call_window input,
#consultation_window input,
.form_block textarea,
 #consultation_window textarea {
	display: block;
	width: 100%;
	border-width: 1px;
  	border-color: rgb(221, 221, 221);
  	border-style: solid;
  	border-radius: 5px;
  	font-size: 20px;
  	outline: none;
}

.form_block input, 
#call_window input,
#consultation_window input {
	height: 50px;
  	margin-bottom: 19px;
  	padding: 0 10px;
  	width: 100%;	
}

.form_block textarea,
#consultation_window textarea {
	height: 80px;
  	margin-bottom: 19px;
  	padding: 10px;
  	width: 100%;
  	resize: none;
}

.form_block label,
#call_window label,
#consultation_window label {
	display: block;
	line-height: 22px;
}

.form_block button,
#call_window .call_button,
#consultation_window .call_button {
	cursor: pointer;
	padding: 25px;
	margin-top: 11px;
	margin-bottom: 9px;
	display: block;
	width: 100%;
}

.form_block .button_subtext,
#call_window .button_subtext,
#consultation_window .button_subtext {
	text-align: center;
	font-size: 13px;
	line-height: 22px;
}

.feeadback_contacts_header {
	margin-bottom: 75px;
	line-height: 40px;
	font-size: 30px;
}

.feedback_contacts .small {
	font-size: 13px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.feedback_contacts .mail {
	text-decoration: underline;
}

.feedback_contacts .time_weekday {
	margin-bottom: 30px;
}

@media(max-width: 767px) {
	.form_block form {
		max-width: none;
		width: 100%;
		margin-left: 0;
	}

	.form_block {
		flex-basis: 100%;
		padding: 30px 10px;
	}

	.feedback_contacts {
		flex-basis: 100%;
		padding: 30px 10px;
		text-align: center;
	}

	.feeadback_contacts_header {
		margin-bottom: 30px;
	}
}